rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /applications/{applicationId} {
      allow read, write: if true;
    }
    match /enquiries/{enquiryId} {
      allow read, write: if true;
    }
    match /blog_posts/{postId} {
      allow read, write: if true;
    }
    match /blog_submissions/{submissionId} {
      allow read, write: if true;
    }
    match /newsletter_subscriptions/{subscriptionId} {
      allow read, write: if true;
    }
  }
}
